h1 {
  font-family: 'Roboto' !important;
  font-weight: bolder !important;
}

#header {
  text-align: center;
  padding-top: 25px;
}

#btn {
  text-align: center;
  clear: both;
}

#loadMore {
  padding: 10px 100px;
  margin: 50px 0;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: bold;
  background: #039BE5;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #888888;
}

#pokemonsContainer {
  list-style: none;
  margin: auto;
  padding: 0;
}

.pokemonContainer {
  margin-bottom: 20px;
  text-align: center;
}
.pokemonContainer img {
  height: 120px;
  width: 120px;
}

.pokemonContainer img:hover {
  cursor: pointer;
  /*margin-bottom: 2px;*/
  box-shadow: 2px 0px 2px;
}

.name {
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-bottom: 4px;
}

#pokemonsContainer li {
  display: inline-block;
}

.modal-dialog {
  width: 700px !important;
}
.modal-header .close {
  margin-top: 5px !important;
}
.modal-title {
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px !important;
}
.modal-body {
  text-align: center;
}
.modal-body img {
  height: 120px;
  width: 120px;
  margin: 20px 0;
}
.stats {
  text-align: center;
  font-family: 'Open Sans';
}
.stats td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px;
}
#stat_head_row {
  font-weight: bold;
}

.tp {
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 6px;
  padding: 2px 6px;
  margin-right: 4px;
  text-align: center;
  color: white;
}

.tp:hover {
  cursor: pointer;
}

.tp-fire {
  background: #F08030;
}
.tp-normal {
  background: #A8A878
}
.tp-water {
  background: #6890F0;
}
.tp-bug {
  background: #A8B820;
}
.tp-flying {
  background: #A890F0;
}
.tp-poison {
  background: #A040A0;
}
.tp-electric {
  background: #F8D030;
}
.tp-ground {
  background: #E0C068;
}
.tp-fairy {
  background: #EE99AC;
}
.tp-fighting {
  background: #C03028;
}
.tp-psychic {
  background: #F85888;
}
.tp-grass {
  background: #78C850;
}
.tp-rock {
  background: #B8A038;
}
.tp-steel {
  background: #B8B8D0;
}
.tp-ghost {
  background: #705898;
}
.tp-ice {
  background: #98D8D8;
}
.tp-dark {
  background: #705848;
}
.tp-dragon {
  background: #7038F8;
}

.prevent-click button,
.prevent-click img {
  pointer-events: none;
}

.spinner {
  position: fixed;
  z-index: 9999;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  height: 100%;
  display: none;
}

.prevent-click .spinner {
  display: block;
}

.loader {
  margin: 150px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#logo {
  cursor: pointer;
}
